<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rest</title>
</head>
<body>
<a th:href = "@{/user}">query</a>
<a th:href = "@{/user/1}">id</a>

<form th:action="@{/user}" method="post">
    用户名<input type="text" name="username"><br>
    密码<input type="text" name="password"><br>
    <input type="submit" name=" 添加"><br>
</form>

<form th:action="@{/user}" method="post">
    <!--  name="_method" 固定  -->
    <input type="hidden" name="_method" value="PUT">
    用户名<input type="text" name="username"><br>
    密码<input type="text" name="password"><br>
    <input type="submit" name="修改"><br>
</form>


</body>
</html>